<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <div>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'signup' %}">회원가입</a> |
        <a href="{% url 'login' %}">로그인</a> |
        {% endif %}
    
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>
            <a href="{% url 'mypage' request.user.username %}">마이페이지</a>
        {% endif %}
        </div>

    <div>
        <h2>카테고리별 필터링</h2>
        <ul>
            <li><a href="{% url 'post_list' %}">전체</a></li>
            {% for category in categories %}
                <li><a href="{% url 'posts_by_category' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}  -  {{ post.created_at}}  </a>
                {% if post.author == request.user %}  
                    <a href="{% url 'post_update' post.pk %}">수정</a>
                    <a href="{% url 'post_delete' post.pk %}">삭제</a>
                {% endif %}            
            </li>
        {% empty %}
            <li>게시글이 없습니다.</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'post_create' %}">새 게시글 작성하기</a>
    {% endif %}
</body>
</html>
